.login-wrapper{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box{
  background:white;
  width:360px;
  padding:30px;
  border-radius:18px;
  text-align:center;
}

.login-box input{
  width:100%;
  padding:14px;
  margin-bottom:14px;
  border-radius:12px;
  border:1px solid #ddd;
}
