:root {
  --bg: linear-gradient(135deg, #ff3c00, #ff9500); /* สีแดงส้ม gradient */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--bg);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
